
* {
	background-color: #EEEEEE;
}

.inputfs {
	width: 200px;
	margin: 5px auto;
}

.inputLabel {
	width: 20%;
}

.inputTextfield {
	width: 80%;
}

.inputButton {
	width: 30%;
}

.removeButton {
	float: right;
}

ul {
    padding: 0;
    list-style-type: none;
}
