* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#TaskManagerWindow {
    width: 25%;
    background-color: grey;
    margin-top: 0%;
    margin-left: 30%;
    border-radius: 15px;
}

#title {
    text-align: center;
    font-family: "Sans-serif";
}

#taskHeader {
  margin-top: 2%;
}

#buttonAddTask {
  margin-right: 15%;
}

#buttonDeleteAll {
  margin-right: 15%
}

#taskDescription {
     width: 50%;
     margin-left: 25%;
     font-size: 16px;
}

fieldset {
    margin-top: 2%;
    border: 1px solid black;
    width: 98%;
    background-color: gray;

}

button {
  margin-left: 5%;
  border-radius: 10px;
}

li {
  margin-left: 20px;
}

label {
  font-family: monospace;
}
